@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */


@font-face {
    font-family: 'Silver Queen'; /* Replace with your font name */
    src: url('/fonts/Silver-Queen.otf') format('opentype');/* Replace with your font file path and format */
         /* url('/fonts/YourCustomFontFile.woff') format('woff');  */
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply the custom font globally */
  body {
    @apply font-custom;
  }